 none none none


body {
	text-align: center;
}

h1 {
	font-size: 64px;
}

#hangman-header {
	margin-top:5px;
	width:93%;

}

#answer {
	position: absolute;
	left: 1px;
	top: 1px;
	display: none;
}


#page-left {
	border: 5px solid black;
	width: 45%;
	height: 80%;
	display: inline-block;
	vertical-align: top;
	margin-bottom:-5px;
}

.image-left {
	width: 100%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	
}

#sound-button {

	
}

#page-right {
	border: 5px solid black;
	width: 45%;
	height:80%;
	display: inline-block;
	vertical-align: top;
}

#bottom-hr {
	position:absolute;
	width:100%;
	height:10px;
	background-color:black;
	

}

#use-keyboard {


}

#footer {
	width:100%;
	height:40px;
	background-color:#5cd65c;
	margin-top:10px;
	text-align:center;
	padding-top:30px;
	
}

#page-right {

	text-align:center;
}

.boxes {

	border-width: 5px;
	border-color:black;
}


/*@media screen and (max-width: 980px){

 
}

	
}

@media screen and (max-width: 760px){


}



@media screen and (max-width: 640px){
  }*/